@font-face {
    font-family: 'Myrad';
    font-style: normal;
	src: url("fonts/MyriadPro-Regular.woff"),
		url("fonts/MyriadPro-Regular.ttf"),
        url("fonts/MyriadPro-Regular.svg") format("svg"),
		url local ("fonts/MyriadPro-Regular.otf") format("truetype");
	@import url('fonts/MyriadPro-Regular.woff');
}
@font-face {
	@import url('https://fonts.googleapis.com/css?family=PT+Sans');
	font-family: 'PT Sans', sans-serif;
}
html,body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    color: darkblue;
	font-family: 'Myrad', 'PT Sans', sans-serif;
}
.mensaje{
    padding: 50px 50px 50px 50px;
    color: white;
}

#back{
    margin: 0 auto;
	font-family: 'Myrad','PT Sans', sans-serif;
    z-index: 4;
	height: 70%;
	position: relative;
}

#back2{
    margin: 0;
	background-color: #F79865;
    z-index: 4;
	padding: 0;
	height: 100%;
	font-family: 'Myrad','PT Sans', sans-serif;
	width: 100%;
}

#fondo{
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: -100;
	padding: 0;
	margin: 0;
}

#back3{
    margin: 0;
    /*background-image: url('../img/imagen3_fondo.png');*/
	background-color: #866CAA;
	height: 100%;
	width: 100%;
    z-index: 4;
	padding: 0;
}

.back7{
	display: block;
	height: 300px;
	width: 510px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.back7 img{
	display: block;
	top: 0%;
	right: 0%;
}
.back5 img{
	display: block;
	/*padding: 5% 0 0 0;*/
	height: 300px;
	z-index: -100;
	opacity: 0.3;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
		
}
.back6 img{
	width: 100%;
	height: 100%;
	opacity: 1.0;
	display: block;
		/*padding: 5% 0 0 0;*/
	z-index: -100;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#div1{ 
	border: 0px transparent; 
	border-color: transparent;
	margin: 0% 2% 0% 2%; 
	padding-top: 20px;  
	border-top-right-radius: 25%;
	justify-content: center;
  	align-items: center;
	height: 90%;
} 

#estatica{
	height: 30px;
	margin-bottom: 30px;
	top: 75%;
  	opacity:1.0
}

#logo{
	height: 80px;
  	opacity:1.0;
	float: right;

}

#rentafacil{
	height: 10px;
}

#rentafacil1{
	height: 13px;
}

.nav1{
	display: block;
	width: 49%;
	float: left;
	font-family: 'Myrad','PT Sans', sans-serif;
}

.nav2{
	display: block;
	width: 49%;
	float: right;
	font-family: 'Myrad','PT Sans', sans-serif;
	z-index: 10;
	
}

.nav1 img, .nav2 img{
	height: 70px;
	position: absolute;
	top: 85%;
	display: block;
	z-index: 10;
	opacity: 0.5;
}

.nav1 img{
	right:51%;
}

.nav1 img.hover:hover, .nav2 img.hover:hover{
	opacity: 1.0
}

p{
	margin: 1% 7% 0% 5%;
	font-family: 'Myrad','PT Sans', sans-serif;
}

p strong{
	font-size: 19px;
}
#especial strong{
  	font-weight: normal;
  	padding: 2px;
	font-family: 'Myrad','PT Sans', sans-serif;
}

ul li strong1{
  	font-weight: bolder;
  	padding: 2px;
	font-size: 27px;
	color: white;
	font-family: 'Myrad','PT Sans', sans-serif;
}

ul{
	font-size: 23px;
	list-style: none;
	font-family: 'Myrad','PT Sans', sans-serif;
	color: white;
	
}

#contacto{
	color: white;
	font-size: 18px;
  text-align: justify;
  text-justify: newspaper;
}

.justify{
  text-align: justify;
  text-justify: newspaper;
}

#banner{
  margin-top: 30px;
  height: 40px;
  width: 45%;
  background-color: white;
  position: absolute;
}

#banner img{
	height: 34px;
	float: right;
	margin: 3px;
}

.social{
	position: absolute;
	top: 100px;
	right:10%;
 	display: block;
	color: white;
}

.social a, .social img{
	text-decoration: none;
	color: white;
	height: 20px;
}

#form-div {
	background-color:rgba(255,255,255,1);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:35px;
	width: 450px;
	float: left;
	right: 10%;
	position: absolute;
	border: 5px solid #844C84;
  	margin-top:30px;
  	/*-moz-border-radius: 7px;
  	-webkit-border-radius: 7px;*/
}

input::-webkit-input-placeholder {
  color: #C0C0C0;
}
input:-moz-placeholder {
  color: #C0C0C0;
}
input:-ms-input-placeholder {
  color: #C0C0C0;
}
input[placeholder] {
  color: #C0C0C0;
}

.indata{
    background: none;
	border-width: 0;
    color: orange;
    height: 28px;
    width: 77%;
}
.inda{
    background: none;
    border: 1px solid white;
    color: orange;
    width: 90%;
    resize: none;
	height: 100px;
}
.btn{
    background: none;
    border: none;
	color:#C0C0C0;
    font-size: 18px;
}

.check {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 10;
  bottom: 10;
  left: 5;
  right: 10;
  margin: auto;
	
}
.check input {
  display: none;
}
.check input:checked + .box {
  background-color: orange;
}
.check input:checked + .box:after {
  top: 0;
}
.check .box {
  width: 100%;
  height: 100%;
  /*transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);*/
  border: 2px solid orange;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  /*box-shadow: 0 5px rgba(0, 0, 0, 0.2);*/
  z-index: 100000;
}
.check .box:after {
  width: 50%;
  height: 20%;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 200%;
  bottom: 5%;
  margin: auto;
}

hr {
  position: absolute;
  height: 5px;
  width: 20px;
  background-color: orange;
}

#etiqueta{
	padding-left: 0px;
}

.triangulo_sup {
    width: 0;
    height: 0;
    border-left: 12.5px solid transparent;
    border-right: 12.5px solid transparent;
    border-bottom: 25px solid transparent;
	position: absolute;
	top: 90%;
	left:7%;
}

#cont:hover, #cont1:hover{
	border-bottom-color: #fff;
}

#cont{
	border-bottom-color: #F79865;
}

#cont1{
	border-bottom-color: #866CAA;
}


@media screen and (max-width: 1024px){
	ul{
	list-style: none;
	font-size: 2.0em;
	color: white;
	}
	
	#form-div{
		/*width: 450px;
		padding-left: 3%;
		padding-right: 3%;*/
	}
	.triangulo_sup {
		position: absolute;
		top: 95%;
	}
	#contacto{
		line-height: 2.1;
		margin-top: 50px;
    	font-size: 2.5em
	}
	ul li strong1{
		font-weight: bolder;
		padding: 2px;
		font-size: 2em;
	}

  	.social{
	  left: 50%;
	  font-size: 1.1em;
  	}
	
	
}

@media screen and (max-width: 720px) {
	
	ul li strong1{
		font-weight: bolder;
		padding: 2px;
		font-size: 18px;
	}
	
	ul, ul li{
		color: white;
		font-size: 15px;
		margin-left: 3%;
		margin-right: 3%;
		list-style: none;
		padding:0;
	}
	
	img{
		height: 30px;
	}
	.social {
		
	}
	.social a img{
		height: 15px;
	}
	#contacto{
	}
	#back{
    	/*background: url('../img/Moviles_clean.png') no-repeat;
		background-size: cover;*/
	}
	.nav1 img, .nav2 img{
		height: 40px;
		position: absolute;
	}
	
	.nav1 img{
		right:53%;
	}
	
	.back5 img{
		padding: 15% 0 0 0;
		height: 250px;
		top: -10%;
	}
	.back7{
		height: 250px;
		top: 15%;
		width:430px;
	}
	
	#estatica{
		height: 25px;
	}
	
	#logo{
		height: 50px;
	}
	
	#form-div{
		/*left: 4%;
		margin-right: 5%;
		width: 84%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;*/
	}
	.triangulo_sup {
	top: 90%;
	}
}

@media screen and (max-width: 580px) {
	
	ul li strong1{
		font-weight: bolder;
		padding: 2px;
		/*font-size: 13px;*/
	}
	
	ul, ul li{
		color: white;
		/*font-size: 10px;*/
		margin-left: 5%;
		margin-right: 5%;
		list-style: none
	}
	
	img{
		height: 30px;
	}
	
	.social{
	}
	
	.social a img{
		height: 15px;
	}
	#contacto{
		
	}
	#back{
    	/*background: url('../img/Moviles.png') no-repeat;*/
		/*background: url('../img/Moviles_clean.png') no-repeat;
		background-size: cover;*/
	}
	/*.nav1 img, .nav2 img{
		height: 40px;
		position: absolute;
		top: 90%;
	}*/
	
	.nav1 img{
		right:53%;
	}
	
	.back5 img{
		height: 200px;
	}
	
	#estatica{
		top:65%;
	}
	.back7{
		height: 200px;
		top: 8%;
		width:350px;
	}
	
	#logo{
		top:32%;	
		height: 30px;
	}
	
	#form-div{
		left: 4%;
		margin-right: 5%;
		width: 84%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
	
	.inda{
		height: 60px;
	}
	
	.triangulo_sup {
  	
	}
}
