@font-face {
    font-family: 'Myrad';
    font-style: normal;
	src: url("fonts/MyriadPro-Regular.woff"),
		url("fonts/MyriadPro-Regular.ttf"),
        url("fonts/MyriadPro-Regular.svg") format("svg"),
		url local ("fonts/MyriadPro-Regular.otf") format("truetype");
	@import url('fonts/MyriadPro-Regular.woff');
}
@font-face {
	@import url('https://fonts.googleapis.com/css?family=PT+Sans');
	font-family: 'PT Sans', sans-serif;
}
html,body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    color: darkblue;
	font-family: 'Myrad','PT Sans', sans-serif;
}
.mensaje{
    padding: 50px 50px 50px 50px;
    color: white;
}

#back{
    margin: 0 auto;
    background: url('../img/imagen1A_clean.png') no-repeat;
    color: black;
	background-size: cover;
	font-family: 'Myrad','PT Sans', sans-serif;
    z-index: 4;
	height: 70%;
	position: relative;
}

#back2{
    margin: 0;
    /*background-image: url('../img/imagen2_fondo.png');*/
	background-color: rgba(255,105,0,.75);
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat:repeat;
    z-index: 4;
	padding: 0;
	position: absolute;
	height: 100%;
	font-family: 'Myrad','PT Sans', sans-serif;
	width: 100%;
}

#back3{
    margin: 0;
    /*background-image: url('../img/imagen3_fondo.png');*/
	background-color: rgba(187,41,187,0.75);
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
    z-index: 4;
	padding: 0;
	position: absolute;
}

#div1{ 
	border: 0px transparent; 
	border-color: transparent;
	margin: 2% 2% 0%; 
	padding-top: 20px;  
	border-top-right-radius: 25%;
	justify-content: center;
  	align-items: center;
	height: 90%;
} 

#estatica{
	height: 30px;
	margin-bottom: 30px;
	top: 75%;
}

#logo{
	height: 40px;
	position: absolute;
	right: 30%;
	top: 20%;
}

#rentafacil{
	height: 10px;
}

#rentafacil1{
	height: 13px;
}

.back5 img{
		display: block;
		/*padding: 5% 0 0 0;*/
		height: 300px;
		z-index: -100;
		opacity: 0.3;
	
	
		position: absolute;
    	top: 0;
    	bottom: 0;
    	left: 0;
    	right: 0;
    	margin: auto;
		
}

.nav1{
	display: block;
	width: 49%;
	float: left;
	font-family: 'Myrad','PT Sans', sans-serif;
}

.nav2{
	display: block;
	width: 49%;
	float: right;
	font-family: 'Myrad','PT Sans', sans-serif;
	z-index: 10;
	
}

.nav1 img, .nav2 img{
	height: 70px;
	position: absolute;
	top: 85%;
	display: block;
	z-index: 10;
	opacity: 0.5;
}

.nav1 img{
	right:51%;
}

.nav1 img:hover, .nav2 img:hover{
	opacity: 1.0
}

p{
	margin: 1% 10% 0%;
	font-family: 'Myrad','PT Sans', sans-serif;
}

p strong{
	font-size: 19px;
}
#especial strong{
  	font-weight: normal;
  	padding: 2px;
	font-family: 'Myrad','PT Sans', sans-serif;
}

ul li strong1{
  	font-weight: bolder;
  	padding: 2px;
	font-size: 27px;
	color: white;
	font-family: 'Myrad','PT Sans', sans-serif;
}

ul{
	font-size: 23px;
	list-style: none;
	font-family: 'Myrad','PT Sans', sans-serif;
	color: white;
}

#contacto{
	color: white;
}

#banner{
  margin-top: 15px;
  height: 40px;
  width: 45%;
  background-color: white;
  position: absolute;
}

#banner img{
	height: 34px;
	float: right;
	margin: 3px;
}

.social{
	position: absolute;
	right:20%;
/*	display: block;*/
	color: white;
}

.social a,.social img{
	text-decoration: none;
	color: white;
	height: 20px;
}

#form-div {
	background-color:rgba(255,255,255,1);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 70%;
	position: absolute;
	border: 5px solid rgba(187,41,187,1.0);
  	margin-top:30px;
	margin-left: -260px;
  	/*-moz-border-radius: 7px;
  	-webkit-border-radius: 7px;*/
}

input::-webkit-input-placeholder {
  color: #C0C0C0;
}
input:-moz-placeholder {
  color: #C0C0C0;
}
input:-ms-input-placeholder {
  color: #C0C0C0;
}
input[placeholder] {
  color: #C0C0C0;
}

.indata{
    background: none;
	border-width: 0;
    color: orange;
    height: 28px;
    width: 77%;
}
.inda{
    background: none;
    border: 1px solid white;
    color: orange;
    width: 90%;
    resize: none;
	height: 100px;
}
.btn{
    background: none;
    border: none;
	color:#C0C0C0;
    font-size: 18px;
}

.check {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 10;
  bottom: 10;
  left: 5;
  right: 10;
  margin: auto;
	
}
.check input {
  display: none;
}
.check input:checked + .box {
  background-color: orange;
}
.check input:checked + .box:after {
  top: 0;
}
.check .box {
  width: 100%;
  height: 100%;
  /*transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);*/
  border: 2px solid orange;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  /*box-shadow: 0 5px rgba(0, 0, 0, 0.2);*/
  z-index: 100000;
}
.check .box:after {
  width: 50%;
  height: 20%;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 200%;
  bottom: 5%;
  margin: auto;
}

hr {
  position: absolute;
  height: 5px;
  width: 20px;
  background-color: orange;
}

#etiqueta{
	padding-left: 0px;
}

.triangulo_sup {
    width: 0;
    height: 0;
    border-left: 12.5px solid transparent;
    border-right: 12.5px solid transparent;
    border-bottom: 25px solid #fff;
	position: absolute;
	top: 90%;
}

@media screen and (max-width: 1024px){
	ul{
	font-size: 18px;
	list-style: none;
	font-family: 'Myrad','PT Sans', sans-serif;
	color: white;
	}
	
	#form-div{
		left: 25%;
		right: 25%;
		width: 450px;
		margin-left: 0;
		margin-top: 10px;
		padding-left: 3%;
		padding-right: 3%;
	}
	.triangulo_sup {
	position: absolute;
	top: 90%;
	}
}

@media screen and (max-width: 720px) {
	
	ul li strong1{
		font-weight: bolder;
		padding: 2px;
		font-size: 18px;
	}
	
	ul, ul li{
		color: white;
		font-size: 15px;
		margin-left: 10%;
		margin-right: 10%;
		list-style: none
	}
	
	img{
		height: 30px;
	}
	.social a img{
		height: 15px;
	}
	#contacto{
		font-size: 15px;
	}
	#back{

    	background: url('../img/Moviles_clean.png') no-repeat;
		background-size: cover;
	}
	.nav1 img, .nav2 img{
		height: 40px;
		position: absolute;
	}
	
	.nav1 img{
		right:53%;
	}
	
	.back5 img{
		display: block;
		margin: auto;
		padding: 15% 0 0 0;
		height: 250px;
	}
	
	#estatica{
		height: 25px;
	}
	
	.back5 img{
		top: -10%;
	}
	#logo{
		right: 20%;
		top: 30%;
	}
	
	#form-div{
		left: 4%;
		margin-right: 5%;
		width: 84%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
	.triangulo_sup {
	top: 90%;
	}
}

@media screen and (max-width: 580px) {
	
	ul li strong1{
		font-weight: bolder;
		padding: 2px;
		font-size: 13px;
	}
	
	ul, ul li{
		color: white;
		font-size: 10px;
		margin-left: 10%;
		margin-right: 10%;
		list-style: none
	}
	
	img{
		height: 30px;
	}
	.social{
	position: absolute;
	top: 90px;
	right:20%;
	color: white;
}
	.social a img{
		height: 15px;
	}
	#contacto{
		font-size: 15px;
	}
	#back{

    	/*background: url('../img/Moviles.png') no-repeat;*/
		background: url('../img/Moviles_clean.png') no-repeat;
		background-size: cover;
	}
	/*.nav1 img, .nav2 img{
		height: 40px;
		position: absolute;
		top: 90%;
	}*/
	
	.nav1 img{
		right:53%;
	}
	
	.back5 img{
		height: 200px;
	}
	
	#estatica{
		top:65%;
	}
	
	#logo{
		top:32%;	
		height: 30px;
	}
	
	#form-div{
		left: 4%;
		margin-right: 5%;
		width: 84%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
	
	.inda{
		height: 60px;
	}
	
	.triangulo_sup {
  	
	}
}
