@font-face {
    font-family: 'Myrad';
    font-style: normal;
	src: url("fonts/MyriadPro-Regular.woff"),
		url("fonts/MyriadPro-Regular.ttf"),
        url("fonts/MyriadPro-Regular.svg") format("svg"),
		url local ("fonts/MyriadPro-Regular.otf") format("truetype");
	@import url('fonts/MyriadPro-Regular.woff');
}
@font-face {
	@import url('https://fonts.googleapis.com/css?family=PT+Sans');
	font-family: 'PT Sans', sans-serif;
}
html,body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    color: darkblue;
	font-family: 'Myrad','PT Sans', sans-serif;
}

#back{
    margin: 0 auto;
    background: url('../img/imagen1A_clean.png') no-repeat;
    color: black;
	background-size: cover;
	font-family: 'Myrad','PT Sans', sans-serif;
    z-index: 4;
	height: 70%;
	position: relative;
}

#back2{
    margin: 0;
    background-image: url('../img/imagen2_fondo.png');
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat:repeat;
    z-index: 4;
	padding: 0;
	position: absolute;
	height: 100%;
	font-family: 'Myrad','PT Sans', sans-serif;
	width: 100%;
}

#back3{
    margin: 0;
    background-image: url('../img/imagen3_fondo.png');
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
    z-index: 4;
	padding: 0;
	position: absolute;
}

#div1{ 
	border: 2px solid; 
	border-color: white;
	margin: 2% 2% 0%; 
	padding-top: 20px;  
	border-top-right-radius: 25%;
	justify-content: center;
  	align-items: center;
	height: 90%;
} 

#estatica{
	height: 30px;
	margin-bottom: 30px;
	top: 75%;
}

#logo{
	height: 40px;
	position: absolute;
	right: 30%;
	top: 20%;
}

.back5 img{
		display: block;
		/*padding: 5% 0 0 0;*/
		height: 300px;
		z-index: -100;
		opacity: 0.3;
	
	
		position: absolute;
    	top: 0;
    	bottom: 0;
    	left: 0;
    	right: 0;
    	margin: auto;
		
}

.nav1{
	display: block;
	width: 49%;
	float: left;
	font-family: 'Myrad','PT Sans', sans-serif;
}

.nav2{
	display: block;
	width: 49%;
	float: right;
	font-family: 'Myrad','PT Sans', sans-serif;
	z-index: 10;
}

.nav1 img, .nav2 img{
	height: 70px;
	position: absolute;
	top: 85%;
	display: block;
	z-index: 10;
}

.nav1 img{
	right:51%;
}

p{
	margin: 1% 10% 0%;
	font-family: 'Myrad','PT Sans', sans-serif;
}

p strong{
	font-size: 19px;
}
#especial strong{
  	font-weight: normal;
  	padding: 2px;
	font-family: 'Myrad','PT Sans', sans-serif;
}

ul li strong1{
  	font-weight: bolder;
  	padding: 2px;
	font-size: 27px;
	color: white;
	font-family: 'Myrad','PT Sans', sans-serif;
}

ul{
	font-size: 23px;
	list-style: none;
	font-family: 'Myrad','PT Sans', sans-serif;
	color: white;
}

#contacto{
	color: white;
}

.social{
	position: absolute;
	right:20%;
/*	display: block;*/
	color: white;
}

.social a,.social img{
	text-decoration: none;
	color: white;
	height: 20px;
}

@media screen and (max-width: 1024px){
	ul{
	font-size: 18px;
	list-style: none;
	font-family: 'Myrad','PT Sans', sans-serif;
	color: white;
}
}

@media screen and (max-width: 720px) {
	
	ul li strong1{
		font-weight: bolder;
		padding: 2px;
		font-size: 18px;
	}
	
	ul, ul li{
		color: white;
		font-size: 15px;
		margin-left: 10%;
		margin-right: 10%;
		list-style: none
	}
	
	img{
		height: 30px;
	}
	.social a img{
		height: 15px;
	}
	#contacto{
		font-size: 15px;
	}
	#back{

    	background: url('../img/Moviles_clean.png') no-repeat;
		background-size: cover;
	}
	.nav1 img, .nav2 img{
		height: 40px;
		position: absolute;
	}
	
	.nav1 img{
		right:53%;
	}
	
	.back5 img{
		display: block;
		margin: auto;
		padding: 15% 0 0 0;
		height: 250px;
	}
	
	#estatica{
		height: 25px;
	}
	
	.back5 img{
		top: -10%;
	}
	#logo{
		right: 20%;
		top: 30%;
	}
}

@media screen and (max-width: 560px) {
	
	ul li strong1{
		font-weight: bolder;
		padding: 2px;
		font-size: 13px;
	}
	
	ul, ul li{
		color: white;
		font-size: 10px;
		margin-left: 10%;
		margin-right: 10%;
		list-style: none
	}
	
	img{
		height: 30px;
	}
	.social a img{
		height: 15px;
	}
	#contacto{
		font-size: 15px;
	}
	#back{

    	/*background: url('../img/Moviles.png') no-repeat;*/
		background: url('../img/Moviles_clean.png') no-repeat;
		background-size: cover;
	}
	/*.nav1 img, .nav2 img{
		height: 40px;
		position: absolute;
		top: 90%;
	}*/
	
	.nav1 img{
		right:53%;
	}
	
	.back5 img{
		height: 200px;
	}
	
	#estatica{
		top:65%;
	}
	
	#logo{
		top:32%;	
		height: 30px;
	}
	
}